
/* colors */
:root {
  --ally-color-black: #000000;
  --ally-color-gray-dark: #333333;
  --ally-color-gray-medium: #595959;
  --ally-color-gray-light: #cccccc;
  --ally-color-white: #ffffff;
  --ally-color-red: #d1452c;
  --ally-color-green: #7ab226;
  --ally-color-blue: #1551c3;
}

/* BorderRadiuses */
:root {
  --ally-radius-1-x: 4px;
  --ally-radius-2-x: 8px;
  --ally-radius-round: 99px;
  --ally-radius-4-x: 16px;
}

/* fonts */
:root {        
--ally-font-primary-bold: Atkinson Hyperlegible;
--ally-font-primary-regular: Atkinson Hyperlegible;
}
/* text styles*/
.ally-text-h-1 {
  font-family : var(--ally-font-primary-bold);
  font-size : 48px;
  line-height: 56px;
  letter-spacing : 0em;
}
.ally-text-h-2 {
  font-family : var(--ally-font-primary-bold);
  font-size : 32px;
  line-height: 39px;
  letter-spacing : 0em;
}
.ally-text-h-3 {
  font-family : var(--ally-font-primary-regular);
  font-size : 30px;
  line-height: 32px;
  letter-spacing : 0em;
}
.ally-text-h-4 {
  font-family : var(--ally-font-primary-bold);
  font-size : 24px;
  line-height: 30px;
  letter-spacing : 0em;
}
.ally-text-h-5 {
  font-family : var(--ally-font-primary-regular);
  font-size : 24px;
  line-height: 30px;
  letter-spacing : 0em;
}
.ally-text-h-6 {
  font-family : var(--ally-font-primary-bold);
  font-size : 20px;
  line-height: 26px;
  letter-spacing : 0em;
}
.ally-text-body-regular {
  font-family : var(--ally-font-primary-regular);
  font-size : 16px;
  line-height: 24px;
  letter-spacing : 0em;
}
.ally-text-body-large {
  font-family : var(--ally-font-primary-regular);
  font-size : 20px;
  line-height: 28px;
  letter-spacing : 0em;
}
.ally-text-subtitle {
  font-family : var(--ally-font-primary-bold);
  font-size : 16px;
  line-height: 22px;
  letter-spacing : 0em;
}
.ally-text-button {
  font-family : var(--ally-font-primary-bold);
  font-size : 16px;
  line-height: 24px;
  letter-spacing : 0em;
}
.ally-text-link {
  font-family : var(--ally-font-primary-regular);
  font-size : 16px;
  line-height: 22px;
  letter-spacing : 0em;
}
.ally-text-album-title {
  font-family : var(--ally-font-primary-bold);
  font-size : 14px;
  line-height: 16px;
  letter-spacing : 0em;
}
.ally-text-album-artist {
  font-family : var(--ally-font-primary-regular);
  font-size : 14px;
  line-height: 16px;
  letter-spacing : 0em;
}

/* SpacePatterns */
:root {
  --0-x: 0px;
  --0-25-x: 1px;
  --0-5-x: 2px;
  --1-x: 4px;
  --2-x: 8px;
  --3-x: 12px;
  --5-x: 20px;
  --4-x: 16px;
  --10-x: 40px;
}
