
/* colors */
$ally-color-black: #000000;
$ally-color-gray-dark: #333333;
$ally-color-gray-medium: #595959;
$ally-color-gray-light: #cccccc;
$ally-color-white: #ffffff;
$ally-color-red: #d1452c;
$ally-color-green: #7ab226;
$ally-color-blue: #1551c3;

/* BorderRadiuses */
$ally-radius-1-x: 4px;
$ally-radius-2-x: 8px;
$ally-radius-round: 99px;
$ally-radius-4-x: 16px;

/* fonts */
$ally-font-primary-bold: Atkinson Hyperlegible;
$ally-font-primary-regular: Atkinson Hyperlegible;
/* text styles*/
@mixin ally-text-h-1() {
  fontFamily : $ally-font-primary-bold;
  fontSize : 48px;
  lineHeight: 56px;
  letterSpacing : 0em;
}
@mixin ally-text-h-2() {
  fontFamily : $ally-font-primary-bold;
  fontSize : 32px;
  lineHeight: 39px;
  letterSpacing : 0em;
}
@mixin ally-text-h-3() {
  fontFamily : $ally-font-primary-regular;
  fontSize : 30px;
  lineHeight: 32px;
  letterSpacing : 0em;
}
@mixin ally-text-h-4() {
  fontFamily : $ally-font-primary-bold;
  fontSize : 24px;
  lineHeight: 30px;
  letterSpacing : 0em;
}
@mixin ally-text-h-5() {
  fontFamily : $ally-font-primary-regular;
  fontSize : 24px;
  lineHeight: 30px;
  letterSpacing : 0em;
}
@mixin ally-text-h-6() {
  fontFamily : $ally-font-primary-bold;
  fontSize : 20px;
  lineHeight: 26px;
  letterSpacing : 0em;
}
@mixin ally-text-body-regular() {
  fontFamily : $ally-font-primary-regular;
  fontSize : 16px;
  lineHeight: 24px;
  letterSpacing : 0em;
}
@mixin ally-text-body-large() {
  fontFamily : $ally-font-primary-regular;
  fontSize : 20px;
  lineHeight: 28px;
  letterSpacing : 0em;
}
@mixin ally-text-subtitle() {
  fontFamily : $ally-font-primary-bold;
  fontSize : 16px;
  lineHeight: 22px;
  letterSpacing : 0em;
}
@mixin ally-text-button() {
  fontFamily : $ally-font-primary-bold;
  fontSize : 16px;
  lineHeight: 24px;
  letterSpacing : 0em;
}
@mixin ally-text-link() {
  fontFamily : $ally-font-primary-regular;
  fontSize : 16px;
  lineHeight: 22px;
  letterSpacing : 0em;
}
@mixin ally-text-album-title() {
  fontFamily : $ally-font-primary-bold;
  fontSize : 14px;
  lineHeight: 16px;
  letterSpacing : 0em;
}
@mixin ally-text-album-artist() {
  fontFamily : $ally-font-primary-regular;
  fontSize : 14px;
  lineHeight: 16px;
  letterSpacing : 0em;
}

/* SpacePatterns */
$0-x: 0px;
$0-25-x: 1px;
$0-5-x: 2px;
$1-x: 4px;
$2-x: 8px;
$3-x: 12px;
$5-x: 20px;
$4-x: 16px;
$10-x: 40px;
