
/* colors */
:root {
  --ally-color-black: #000000;
  --ally-color-gray-dark: #333333;
  --ally-color-gray-medium: #595959;
  --ally-color-gray-light: #cccccc;
  --ally-color-white: #ffffff;
  --ally-color-red: #d1452c;
  --ally-color-green: #7ab226;
  --ally-color-blue: #1551c3;
}

/* BorderRadiuses */
:root {
  --ally-radius-1x: 4px;
  --ally-radius-2x: 8px;
  --ally-radius-4x: 16px;
  --ally-radius-round: 99px;
}

/* fonts */
:root {        
--ally-font-primary-bold: Atkinson Hyperlegible;
--ally-font-primary-regular: Atkinson Hyperlegible;
}
/* text styles*/
.ally-text-h-1 {
  font-family : var(--ally-font-primary-bold);
  font-size : 48px;
  line-height: 56px;
  letter-spacing : 0em;
}
.ally-text-h-2 {
  font-family : var(--ally-font-primary-bold);
  font-size : 32px;
  line-height: 39px;
  letter-spacing : 0em;
}
.ally-text-h-3 {
  font-family : var(--ally-font-primary-regular);
  font-size : 30px;
  line-height: 32px;
  letter-spacing : 0em;
}
.ally-text-h-4 {
  font-family : var(--ally-font-primary-bold);
  font-size : 24px;
  line-height: 30px;
  letter-spacing : 0em;
}
.ally-text-h-5 {
  font-family : var(--ally-font-primary-regular);
  font-size : 24px;
  line-height: 30px;
  letter-spacing : 0em;
}
.ally-text-h-6 {
  font-family : var(--ally-font-primary-bold);
  font-size : 20px;
  line-height: 26px;
  letter-spacing : 0em;
}
.ally-text-body-regular {
  font-family : var(--ally-font-primary-regular);
  font-size : 16px;
  line-height: 24px;
  letter-spacing : 0em;
}
.ally-text-body-large {
  font-family : var(--ally-font-primary-regular);
  font-size : 20px;
  line-height: 28px;
  letter-spacing : 0em;
}
.ally-text-subtitle {
  font-family : var(--ally-font-primary-bold);
  font-size : 16px;
  line-height: 22px;
  letter-spacing : 0em;
}
.ally-text-button {
  font-family : var(--ally-font-primary-bold);
  font-size : 16px;
  line-height: 24px;
  letter-spacing : 0em;
}
.ally-text-link {
  font-family : var(--ally-font-primary-regular);
  font-size : 16px;
  line-height: 22px;
  letter-spacing : 0em;
}
.ally-text-album-title {
  font-family : var(--ally-font-primary-bold);
  font-size : 14px;
  line-height: 16px;
  letter-spacing : 0em;
}
.ally-text-album-artist {
  font-family : var(--ally-font-primary-regular);
  font-size : 14px;
  line-height: 16px;
  letter-spacing : 0em;
}

/* SpacePatterns */
:root {
  --0x: 0px;
  --0.25x: 1px;
  --0.5x: 2px;
  --1x: 4px;
  --2x: 8px;
  --3x: 12px;
  --5x: 20px;
  --4x: 16px;
  --10x: 40px;
}

/* Breakpoints */
:root {
  --ally-breakpoint-large-max: 1280px;
  --ally-breakpoint-large-min: 743px;
  --ally-breakpoint-medium-max: 744px;
  --ally-breakpoint-medium-min: 429px;
  --ally-breakpoint-small-max: 430px;
  --ally-breakpoint-small-min: 320px;
}